@import url('https://cdnfonts.com');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  height: 50px;

  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;

  padding: 0px 40px;

  background: rgb(65, 65, 65);

}
#logo {
    height: 40px;
}
#logoText {
    font-family: 'Serati', sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 32px;
}
.mainHeadline {
  display: flex;
  align-items: center;
  gap: 10px;  
  flex: 0 1 auto;
}
.searchWrapper {
    display: flex;
    justify-content: center;
    flex: 1;
}
#searchInput {
    padding: 8px 750px 8px 12px;
    border-radius: 32px;
    border: 0;
}